/* base styles */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #fed;
  text-shadow: black 5px 5px;
  text-align: center;
  background: #113;
  background: linear-gradient(45deg, #113, #101);
}

html, body, #container {
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}

#threejs-container {
  background:#000;
  color: #666;
  height: 100%;
  width: 100%;
}

#threejs-container canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
